.cart-container,
.cart-table,
.cart-header,
.cart-body,
.products-container {
  width: 100%;
}

.cart-container {
  display: flex;
}

.cart-table {
  background-color: var(--white);
  padding: 0.5em;
}

.cart-header {
  border-bottom: 3px solid var(--bg-gray);
  display: flex;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em 0 1em 4em;
  font-size: var(--font-md);
}

@media (max-width: 900px) {
  .cart-header {
    font-size: var(--font-rg);
  }
}

@media (max-width: 530px) {
  .cart-header {
    font-size: var(--font-sm);
    padding-left: 2em;
  }
}
