.progress-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.progress-container i {
  font-size: var(--font-lg);
  color: var(--white);
  background-color: var(--gray);
  padding: 0.5em;
  border-radius: 100%;
  margin: 0.5em 0 1em;
}

.progress-container hr {
  position: relative;
  width: 20%;
  height: 0.8em;
  top: 1.9em;
  background-color: var(--gray);
  border: 0;
  border-radius: 2em;
}

.progress-container .completed {
  background-color: var(--dark-gray);
}

@media (max-width: 900px) {
  .progress-container i {
    font-size: var(--font-md);
  }

  .progress-container hr {
    top: 1.5em;
    height: 0.5em;
    width: 15%;
  }
}
