.header-container {
  display: flex;
  margin-bottom: 0.8em;
}

.header-container div {
  margin-right: 0.5em;
}

@media (max-width: 530px) {
  .header-container p {
    font-size: var(--font-rg);
  }
}
