.total-container {
  border-bottom: 3px solid var(--bg-gray);
  padding-bottom: 1em;
}

.total-data {
  display: flex;
  justify-content: space-between;
  margin: 0.6em 0;
}

.total-col-2 {
  font-weight: bold;
}

.total-data:last-child .total-col-1,
.total-data:last-child .total-col-2 {
  font-size: 1.2em;
}

.total-data:last-child .total-col-1 {
  font-weight: bold;
}

.total-data:last-child .total-col-2 {
  color: var(--red);
}
