.product-info-container,
.product-info,
.product-details {
  display: flex;
}

.product-info-container,
.product-info {
  align-items: center;
}

.product-info-container {
  margin: 2em 0;
  padding: 0 4em 2em;
  position: relative;
  border-bottom: 3px solid var(--bg-gray);
}

.product-info-container:last-child {
  border: 0;
  margin-bottom: 0px;
}

.close-icon {
  position: absolute;
  left: 1.2%;
  font-size: var(--font-lg);
  color: var(--gray);
  cursor: pointer;
}

.close-icon:hover {
  color: var(--black);
}

.product-img {
  width: 10em;
  margin-right: 1.5em;
}

.product-details {
  flex-direction: column;
  justify-content: center;
}

.gender,
.name,
.product-metadata .meta-value,
.product-price-container {
  font-weight: bold;
}

.product-price-container {
  font-size: var(--font-md);
}

.gender,
.product-metadata {
  font-size: var(--font-sm);
}

.gender {
  color: var(--gray);
}

.name {
  font-size: var(--font-md);
  margin: 0.5em 0;
}

.product-metadata {
  display: flex;
  margin-bottom: 0.5em;
}

.meta-label {
  width: 4em;
}

.product-qty-container input {
  width: 5em;
  padding: 0.5em;
  font-size: var(--font-rg);
}
