.product-info-container,
.product-info,
.product-details,
.product-metadata {
  display: flex;
}

.product-info-container,
.product-info {
  align-items: center;
}

.product-info-container {
  margin: 2em 0;
  padding: 0 0 2em 4em;
  position: relative;
  border-bottom: 3px solid var(--bg-gray);
}

.product-info-container:last-child {
  border: 0;
  margin-bottom: 0px;
}

.close-icon {
  position: absolute;
  left: 1.2%;
  font-size: var(--font-lg);
  color: var(--gray);
  cursor: pointer;
}

.close-icon:hover {
  color: var(--black);
}

.product-img {
  width: 40%;
  margin-right: 1.5em;
}

.product-details {
  flex-direction: column;
  justify-content: center;
}

.gender,
.name,
.product-metadata .meta-value,
.product-price-container {
  font-weight: bold;
}

.product-price-container,
.name {
  font-size: var(--font-md);
}

.gender,
.product-metadata {
  font-size: var(--font-sm);
}

.gender {
  color: var(--gray);
}

.name {
  margin: 0.5em 0;
}

.product-metadata {
  margin-bottom: 0.5em;
}

.meta-label {
  width: 3.2em;
}

.product-qty-container input {
  width: 5em;
  padding: 0.5em;
  font-size: var(--font-rg);
}

@media (max-width: 900px) {
  .close-icon {
    font-size: var(--font-md);
  }

  .product-price-container,
  .name {
    font-size: var(--font-rg);
  }

  .gender,
  .product-metadata {
    font-size: var(--font-xsm);
  }
}

@media (max-width: 530px) {
  .product-info-container {
    padding-left: 2em;
  }

  .product-info {
    flex-direction: column;
  }

  .product-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.8em;
  }

  .product-qty-container input {
    width: 80%;
  }
}
