.shipping-container {
  background-color: var(--white);
  padding: 1.5em;
}

.shipping-header {
  font-weight: bold;
  border-bottom: 3px solid var(--bg-gray);
  padding-bottom: 1em;
  font-size: var(--font-md);
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .shipping-header {
    font-size: var(--font-rg);
  }

  .shipping-container label {
    font-size: var(--font-sm);
  }
}
