.summary-container {
  width: 30em;
  background-color: var(--white);
  margin-left: 1.5em;
  padding: 1em;
}

.summary-header {
  text-align: right;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 3px solid var(--bg-gray);
  font-weight: bold;
  font-size: var(--font-md);
}

.summary-btn {
  width: 100%;
  margin: 1em 0;
  background-color: var(--red);
}

.summary-btn:hover {
  background-color: var(--dark-red);
}

@media (max-width: 900px) {
  .summary-container {
    margin-left: 0;
    margin-top: 1em;
    width: 100%;
  }
}
