/* ALL GENERAL STYLES ARE HERE */

:root {
  --white: #fff;
  --black: #000;
  --red: #e68d8a;
  --dark-red: #eb6c68;
  --gray: gray;
  --bg-gray: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.card {
  width: 25em;
  box-shadow: 0px 3px 15px grey;
  flex-direction: column;
  padding: 1em;
}

button {
  padding: 0.8em;
  color: var(--white);
  font-weight: 600;
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.red-btn,
button:disabled:hover {
  background-color: var(--red);
}

.red-btn:hover {
  background-color: var(--dark-red);
}

.fb-btn {
  background-color: rgb(0, 81, 255);
}

.fb-btn:hover {
  background-color: rgb(4, 0, 255);
}

.cancel-btn {
  color: black;
  background-color: transparent;
}

.cancel-btn:hover {
  text-decoration: underline;
}

.cart-col-1 {
  width: 40%;
}

.cart-col-2,
.cart-col-3,
.cart-col-4 {
  width: 20%;
  text-align: center;
}
