.row-two-container {
  display: flex;
  justify-content: space-between;
}

.row-two-container div {
  width: 25%;
}

@media (max-width: 900px) {
  .row-two-container {
    flex-wrap: wrap;
  }

  .row-two-container div {
    width: 100%;
  }
}
