.select-field-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8em 0;
  margin: 0 0.25em;
}

.select-field-container label {
  font-weight: bold;
  margin-bottom: 1.1em;
  font-size: 0.9em;
}

.select-field-container select {
  padding: 0.81em;
  border: 3px solid var(--input-gray);
  background-color: transparent;
}

.select-field-container select:focus {
  outline: 0;
}
